/* --------------------
        全体
-------------------- */

:root {
  --theme-color: #00a0a0;
}

* {
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  padding: 30px;
  color: #333;

        /* 1. background-imageで背景画像を指定 */
    background-image:https://msp.c.yimg.jp/images/v2/FUTi93tXq405grZVGgDqG_YPU_V-Cja3QQFV5KzyNG6MGAiRRp5TcpXwrwHjJj-3L0DYmDH7pB62pmLBGwQtsGBH9UBopas_oBioG_uNywnON3iFry1kue96fabYQgaQ0kc3Qhu5Y7iG_erUjgr2ZTt-rsDgfclKndSUK8EPulnFdaGVYbVY9bUNcEhwczfC4XOqYKu1779JZg3YwPFUjWJHv31T9Lcut764fS7UR_NhbhJ7pg0Y6H6cd0QIx5AOP60K8ST3NXKHHy08oXQq4reiYXkKH-BeR_VYumcjm6tDOdLE0Vi5HNTXcfAjLzajY__YXDSKuN-gvVLn2WN9Smb-bqAjQGTI3A31NEM_iwjqf5VVyI3A3ehTV-NdaqEn5DcJTD3BAgLIVvtP9lsVdzSsyUcaeOP3tmB_B3XyU9956AFltjbbA-Eb8vFqf1B26HqRXMTQkbPmhUq5iahs_DZnmm5DGX-WXg-P6q7ax0h14fBVk0l-gquo727HnO6cCOxeaspDc-ZevLyLaurr550S8IQlX7uXzDg4i6sjNLAQJBZeAB9kCFGMr93UNOeFTqLQKNPkum5oVJkXoiLp11bhp9CX0XeKBMNKc2-ISbN-u6QskiP0xhkOdZSIvegjWtEaymWbbQ8JiVpCA-2btxEAYxrAD9dZI2yCOH7XCXzqgzaO9pscCzw054MsBG2Vq1-eB9iKWs90W4xdy5ZN5T1F-qnhswCLkhq--WrGSS_njx8-Qev7YJWN-VF_vbjFP-ajSTQBTbpKR5wNsTNJXYSeXXMc51OMcUmM_H5skidOijB93mS7mWYETB4tQDoj7zhiU1eXZdK5pxQmgEhFKOzPMJtkQ1PNr5iBTdT7-EXT0Xh7rXZNhjOKpaEAvibpdJ2mteZ8y3YBkjefWOkWarszaFkD1VwnN_zTMFyiD0r4tPhSM7abvLxxKVkdETwH7svFroMp1L_5ZTLnfSUf-tzEwFgp1YudX2Eds5bJP-0QJBZeAB9kCFGMr93UNOeF3V3w7O063-idN7Kc9sJIOE3j-ExPGe-so8dHnifG5JPB4WgJjPgOcr4NAdd56nCnMOTZQchk0QG_U8PmKNWrhmt2TRi114UQPh3XlMYJcE6UjaK_amBle8l_qm6dRto-EQBjGsAP11kjbII4ftcJfKHlnYN7E4ONMBsOHrHFmgBxPsjsuSC6qBHSRNAUXPm8tqMv1lC4pl-hVYymGqZIjXUKnRzEBiqnHIGMvYDtp4WKs2wRbkTJ1SQCa5Hk5Tln89BxfhGn77Yogh4sbOJ7em1AubzLIa3Zbt30qdK9vpkNj7Az0GpKJhAkq26ZVNDMifPRewiHHDu0pHr3lSFc_7xbxoEiku8z2gqfxKeV0w4m-jYTcDYMXIuXEKOK00vmnIYnJOS8kK5ioRcMX9trEOUzX8gcB235YNP7xLGi8AW95JzEW592GeaBqgNBmTQdux39i4ebN6-uiT-u9ZLV_5ryUncnrJh6Wxffo_13Kz4qfag_BPnO5ntSI5OSn1CjoZK606XG00hUpsSmuh7q2E51huZDacHD8kO4rHln9VwBReY89DEIV5F90kpLNu_Hr9QUneVlgLmlACQLXUGhvbLblF784vJW8NsAlSzLgBDVxUwicZdZrkI09zJKJnhtW8_g5bUN-8l3tS3se_0n1SdFoR_XlqqzMl5GAOU9H2iEIwwBFPXRcHYaVPvfo0OQ/canva-E3839BE383AFE382A4E38388-E38399E383BCE382B8E383A5-E38396E383A9E382A6E383B3-E383A2E38380E383B3-E382A2E38396E382B9E38388E383A9E382AFE38388-E382A4E383B3E382B9E382BFE382B0E383A9E383A0-E382B9E38388E383BCE383AAE383BC-E8838CE699AF-lBdiBNnXFuQ.jpg?errorImage=false(back.gif);
    
    /* 2. 画像の繰り返しを防ぐ（必要に応じて） */
    background-repeat: no-repeat;
    
    /* 3. 画像のサイズを要素に合わせて調整する（必要に応じて） */
    background-size: cover; /* 例: 要素全体を覆うように拡大・縮小 */
}

/* --------------------
        見出し
-------------------- */

h1, h2, h3 {
  color: var(--theme-color);
  border-bottom: dashed 0.1em var(--theme-color);
}

/* --------------------
        リンク
-------------------- */

a {
  color: var(--theme-color);
  text-decoration: none;
}

/* --------------------
        リスト
-------------------- */

ul {
  list-style: none;
}
li:before {
  content: "★";
  color: var(--theme-color);
}

/* --------------------
          表
-------------------- */

table {
  border-spacing: 0;
  border-collapse: collapse;
  border: solid 1px #f0f0f0;
  min-width: 70%;
}
tr {
  background-color: #fff;
}
tr:nth-child(2n) {
  background-color: #f9f9f9;
}
th {
  background: var(--theme-color);
  color: #fff;
}
th, td {
  border: solid 1px #f0f0f0;
  padding: 0.5rem;
}
